* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   min-height: 100vh;
   font-family: sans-serif;
   padding: 2rem;
}

.control {
   border: 1px solid #ccc;
   border-bottom: 2px solid #ccc;
   border-radius: 5px;
   padding: 0.5rem 0.7rem;
   outline: none;
   transition: border 0.2s;
   margin-bottom: 1rem;
}
.control:focus {
   border-color: #6c7ae0;
}

.spinner {
   border: 5px solid #d7d7d7;
   border-top: 5px solid #3498db;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   margin: 10px auto;
   animation: spin 2s linear infinite;
}

.post {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 0.5rem 0.75rem;
   margin-bottom: 10px;
   display: grid;
   grid-template-columns: 1fr 5fr;
   gap: 10px;
}
.post .user {
   grid-row: 1 / -1;
   border-right: 1px solid #ccc;
   padding-right: 10px;
}
.title {
   font-size: 1.1rem;
   font-weight: bold;
}
.article {
   font-size: 0.8rem;
   color: #5c5c5c;
}

.userName {
   font-size: 1rem;
   font-weight: bold;
}
.userInfo {
   display: block;
   font-size: 0.75rem;
   margin-top: 5px;
   color: #979797;
}

.postsEnded {
   color: #aeaeae;
   text-align: center;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
